.pageContainer {
  max-width: 50rem;
  margin: auto;
}

.cardContainer {
  min-height: 25rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  min-height: 10rem;
}
